# build output
dist/
# generated release manifest (written by scripts/write-version.mjs at build)
public/version.json
# generated types
.astro/
# dependencies
node_modules/
# environment
.env
.env.production
# vercel
.vercel/
